.footer-header{
    font-size: 24px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 3.359999895095825px;
    text-align: left;
}
.main-footer{
    max-height: 30vh;
    background-color: #232323;
    width: 100%;
}