.footer-header{
    font-size: 24px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 3.359999895095825px;
    text-align: left;
}
.main-footer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    max-height: 50vh;
    background-color: #232323;
    width: 100%;
}